* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: exo, sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #dfdfdf;
}
.loader {
  color: #000;
}
.loader:after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}
@keyframes dots {
  to {
    width: 1.25em;
  }
}
